<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
      xmlns:vertical-align="http://www.w3.org/1999/xhtml">
<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background-color:#F5DF4D">
      <h1> Новостной сайт</h1>
      <div class="row" style="background-color:#939597">
        <div class="col-md-3">
          <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
        <div class="col-md-9">
          <h2> Меню </h2>
        </div>
      </div>
      <row>
        <li>
          <ul><i class="fa-solid fa-house"></i> <a href="#">Главная страница</a> </ul>
          <ul><i class="fa-regular fa-newspaper"></i> <a href="#"> Новости</a> </ul>
          <ul><i class="fa-solid fa-user"></i> <a href="#"> Мой профиль</a> </ul>
          <ul><i class="fa-solid fa-registered"></i> <a href="#"> Регистрация</a> </ul>
          <ul><i class="fa-solid fa-power-off"></i> <a href="#"> Вход в аккаунт</a> </ul>
        </li>
      </row>
    </div>
    <div class="col-md-9">
      <div class="container">
        <h1> Основная часть </h1>
      </div>
    </div>
  </div>
</div>